<%#
Author:			Graeme Douglas
The chat client page. Targets HTML5.
%>
<% require './config.rb'%>

<html lang = "en">
<head>
<title> <%=CompanyName%> | autosistant </title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"
	type="text/javascript"></script>
<script src="../js/jquery-1.8.3.min.js"></script>
<script>
// Make sure field is -1 on refresh.
$(window).load(function(){
	$('input#userid').attr('value', "-1");
});

$(function() {
	// Clear the user id value.
	$('input#userid').attr('value', "-1");
	
	// Send message to the server.
	$("#ajaxsend").click(function(){
 		$.ajax({
  			type:	'POST',
  			url:	'/autosistant-ajax',
  			data:	{uid: $('input#userid').val(),
				message: $('textarea#message').val()
    					.replace(/\n/g, ' ')
				},
			beforeSend:function(){
				// TODO: Notify user about waiting for reply?
   			},
			success:function(data){
				// AJAX request made succesfully!
				// Parse the JSON message.
				var parsed = $.parseJSON(data);
				// Add the sent message.
				$('#chatarea')
					.append("\nMe: "+$('textarea#message')
						.val().replace(/\n/g, ' '));
				// Add the message.
				$('#chatarea')
					.append("\nAgent: "+parsed.message);
				// Set the userid.
				$('input#userid').attr('value', parsed.uid);
				// Clear the message area.
				$('#message').attr('value', '');
				// Move the scroll bar to the bottom
				$('#chatarea').scrollTop($('#chatarea')[0]
					.scrollHeight);
			},
			error:function(){
				// AJAX Request failed!
				$('#chatarea').append("\n\n AJAX FAILURE.  "
					+"Send the message again!");
			}
		})
	});
});
</script>
</head>
<body>
<h1> <%=CompanyName%> | autosistant Chat Client </h1>
<textarea name="chatarea" id="chatarea" readonly="readonly" rows="20" cols="90">
Agent: <%=WelcomeMessage%>
</textarea>
<form id="chatform" action="">
<textarea name="message" id="message" rows="5" cols="90"
	placeholder="Type your message here!">
</textarea></br>
<input type="hidden" name="userid" id="userid" value="-1">
<button type="button" id="ajaxsend">Send Message!</button>
</form>
</body>
